.title {
  font-size: 46px;
  text-align: center;
  margin: 0 0 30px;
  padding-top: 30px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 60%;
}

.sortBar {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  width: 60%;
}

.tutorsNumber {
  font-size: 24px;
}

.tutorsSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: 40px auto 90px;
}

.tutorCard {
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: all 2s;
}

.tutorCard:hover {
  background-color: #A8A8A8;
}

.tutorNameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.tutorName {
  font-size: 20px;
  font-weight: 600;
  width: calc(100% - 70px);
}

.tutorPrice {
  width: 50px;
  color: rgb(240, 71, 19);
}

.tutorSpecialization, .tutorLessons {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.bookIcon, .hatIcon {
  display: block;
  height: 24px;
}

.discipline {
  font-size: 18px;
}

.emptyWrapper, .spinWrapper {
  margin: 40px 0 90px;
  display: flex;
  justify-content: center;
}

@media (max-width: 802px) {

  .sortBar,
  .searchBar {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 32px;
  }
}